ASN_MODULE_SOURCES=	\
	Criticality.c	\
	Presence.c	\
	PrivateIE-ID.c	\
	ProcedureCode.c	\
	ProtocolExtensionID.c	\
	ProtocolIE-ID.c	\
	TriggeringMessage.c	\
	ProtocolIE-Container.c	\
	ProtocolIE-SingleContainer.c	\
	ProtocolIE-Field.c	\
	ProtocolIE-ContainerPair.c	\
	ProtocolIE-FieldPair.c	\
	ProtocolIE-ContainerList.c	\
	ProtocolIE-ContainerPairList.c	\
	ProtocolExtensionContainer.c	\
	ProtocolExtensionField.c	\
	PrivateIE-Container.c	\
	PrivateIE-Field.c	\
	AllocationAndRetentionPriority.c	\
	Bearers-SubjectToStatusTransferList.c	\
	Bearers-SubjectToStatusTransfer-Item.c	\
	BitRate.c	\
	BPLMNs.c	\
	BroadcastCompletedAreaList.c	\
	Cause.c	\
	CauseMisc.c	\
	CauseProtocol.c	\
	CauseRadioNetwork.c	\
	CauseTransport.c	\
	CauseNas.c	\
	CellIdentity.c	\
	CellID-Broadcast.c	\
	CellID-Broadcast-Item.c	\
	Cdma2000PDU.c	\
	Cdma2000RATType.c	\
	Cdma2000SectorID.c	\
	Cdma2000HOStatus.c	\
	Cdma2000HORequiredIndication.c	\
	Cdma2000OneXSRVCCInfo.c	\
	Cdma2000OneXMEID.c	\
	Cdma2000OneXMSI.c	\
	Cdma2000OneXPilot.c	\
	Cdma2000OneXRAND.c	\
	Cell-Size.c	\
	CellType.c	\
	CGI.c	\
	CI.c	\
	CNDomain.c	\
	CSFallbackIndicator.c	\
	CSG-Id.c	\
	CSG-IdList.c	\
	CSG-IdList-Item.c	\
	COUNTvalue.c	\
	CriticalityDiagnostics.c	\
	CriticalityDiagnostics-IE-List.c	\
	CriticalityDiagnostics-IE-Item.c	\
	DataCodingScheme.c	\
	DL-Forwarding.c	\
	Direct-Forwarding-Path-Availability.c	\
	ECGIList.c	\
	EmergencyAreaIDList.c	\
	EmergencyAreaID.c	\
	EmergencyAreaID-Broadcast.c	\
	EmergencyAreaID-Broadcast-Item.c	\
	CompletedCellinEAI.c	\
	CompletedCellinEAI-Item.c	\
	ENB-ID.c	\
	GERAN-Cell-ID.c	\
	Global-ENB-ID.c	\
	ENB-StatusTransfer-TransparentContainer.c	\
	ENB-UE-S1AP-ID.c	\
	ENBname.c	\
	ENBX2TLAs.c	\
	EncryptionAlgorithms.c	\
	EPLMNs.c	\
	EventType.c	\
	E-RAB-ID.c	\
	E-RABInformationList.c	\
	E-RABInformationListItem.c	\
	E-RABList.c	\
	E-RABItem.c	\
	E-RABLevelQoSParameters.c	\
	EUTRAN-CGI.c	\
	ExtendedRNC-ID.c	\
	ForbiddenInterRATs.c	\
	ForbiddenTAs.c	\
	ForbiddenTAs-Item.c	\
	ForbiddenTACs.c	\
	ForbiddenLAs.c	\
	ForbiddenLAs-Item.c	\
	ForbiddenLACs.c	\
	GBR-QosInformation.c	\
	GTP-TEID.c	\
	GUMMEI.c	\
	HandoverRestrictionList.c	\
	HandoverType.c	\
	HFN.c	\
	IMSI.c	\
	IntegrityProtectionAlgorithms.c	\
	InterfacesToTrace.c	\
	LAC.c	\
	LAI.c	\
	LastVisitedCell-Item.c	\
	LastVisitedEUTRANCellInformation.c	\
	LastVisitedUTRANCellInformation.c	\
	LastVisitedGERANCellInformation.c	\
	L3-Information.c	\
	MessageIdentifier.c	\
	MMEname.c	\
	MME-Group-ID.c	\
	MME-Code.c	\
	MME-UE-S1AP-ID.c	\
	M-TMSI.c	\
	MSClassmark2.c	\
	MSClassmark3.c	\
	NAS-PDU.c	\
	NASSecurityParametersfromE-UTRAN.c	\
	NASSecurityParameterstoE-UTRAN.c	\
	NumberofBroadcastRequest.c	\
	NumberofBroadcast.c	\
	OldBSS-ToNewBSS-Information.c	\
	OverloadAction.c	\
	OverloadResponse.c	\
	PagingDRX.c	\
	PDCP-SN.c	\
	PLMNidentity.c	\
	Pre-emptionCapability.c	\
	Pre-emptionVulnerability.c	\
	PriorityLevel.c	\
	QCI.c	\
	ReceiveStatusofULPDCPSDUs.c	\
	RelativeMMECapacity.c	\
	RAC.c	\
	RequestType.c	\
	RIMTransfer.c	\
	RIMInformation.c	\
	RIMRoutingAddress.c	\
	ReportArea.c	\
	RepetitionPeriod.c	\
	RNC-ID.c	\
	RRC-Container.c	\
	RRC-Establishment-Cause.c	\
	SecurityKey.c	\
	SecurityContext.c	\
	SerialNumber.c	\
	SONInformation.c	\
	SONInformationRequest.c	\
	SONInformationReply.c	\
	SONConfigurationTransfer.c	\
	Source-ToTarget-TransparentContainer.c	\
	SourceBSS-ToTargetBSS-TransparentContainer.c	\
	SourceeNB-ID.c	\
	SRVCCOperationPossible.c	\
	SRVCCHOIndication.c	\
	SourceeNB-ToTargeteNB-TransparentContainer.c	\
	SourceRNC-ToTargetRNC-TransparentContainer.c	\
	ServedGUMMEIs.c	\
	ServedGUMMEIsItem.c	\
	ServedGroupIDs.c	\
	ServedMMECs.c	\
	ServedPLMNs.c	\
	SubscriberProfileIDforRFP.c	\
	SupportedTAs.c	\
	SupportedTAs-Item.c	\
	S-TMSI.c	\
	TAC.c	\
	TAIListforWarning.c	\
	TAI.c	\
	TAI-Broadcast.c	\
	TAI-Broadcast-Item.c	\
	CompletedCellinTAI.c	\
	CompletedCellinTAI-Item.c	\
	TBCD-STRING.c	\
	TargetID.c	\
	TargeteNB-ID.c	\
	TargetRNC-ID.c	\
	TargeteNB-ToSourceeNB-TransparentContainer.c	\
	Target-ToSource-TransparentContainer.c	\
	TargetRNC-ToSourceRNC-TransparentContainer.c	\
	TargetBSS-ToSourceBSS-TransparentContainer.c	\
	TimeToWait.c	\
	Time-UE-StayedInCell.c	\
	TransportLayerAddress.c	\
	TraceActivation.c	\
	TraceDepth.c	\
	E-UTRAN-Trace-ID.c	\
	TypeOfError.c	\
	UEAggregateMaximumBitrate.c	\
	UE-S1AP-IDs.c	\
	UE-S1AP-ID-pair.c	\
	UE-associatedLogicalS1-ConnectionItem.c	\
	UEIdentityIndexValue.c	\
	UE-HistoryInformation.c	\
	UEPagingID.c	\
	UERadioCapability.c	\
	UESecurityCapabilities.c	\
	WarningAreaList.c	\
	WarningType.c	\
	WarningSecurityInfo.c	\
	WarningMessageContents.c	\
	X2TNLConfigurationInfo.c	\
	E-RAB-IE-ContainerList.c	\
	E-RAB-IE-ContainerPairList.c	\
	ProtocolError-IE-ContainerList.c	\
	HandoverRequired.c	\
	HandoverCommand.c	\
	E-RABSubjecttoDataForwardingList.c	\
	E-RABDataForwardingItem.c	\
	HandoverPreparationFailure.c	\
	HandoverRequest.c	\
	E-RABToBeSetupListHOReq.c	\
	E-RABToBeSetupItemHOReq.c	\
	HandoverRequestAcknowledge.c	\
	E-RABAdmittedList.c	\
	E-RABAdmittedItem.c	\
	E-RABFailedtoSetupListHOReqAck.c	\
	E-RABFailedToSetupItemHOReqAck.c	\
	HandoverFailure.c	\
	HandoverNotify.c	\
	PathSwitchRequest.c	\
	E-RABToBeSwitchedDLList.c	\
	E-RABToBeSwitchedDLItem.c	\
	PathSwitchRequestAcknowledge.c	\
	E-RABToBeSwitchedULList.c	\
	E-RABToBeSwitchedULItem.c	\
	PathSwitchRequestFailure.c	\
	HandoverCancel.c	\
	HandoverCancelAcknowledge.c	\
	E-RABSetupRequest.c	\
	E-RABToBeSetupListBearerSUReq.c	\
	E-RABToBeSetupItemBearerSUReq.c	\
	E-RABSetupResponse.c	\
	E-RABSetupListBearerSURes.c	\
	E-RABSetupItemBearerSURes.c	\
	E-RABModifyRequest.c	\
	E-RABToBeModifiedListBearerModReq.c	\
	E-RABToBeModifiedItemBearerModReq.c	\
	E-RABModifyResponse.c	\
	E-RABModifyListBearerModRes.c	\
	E-RABModifyItemBearerModRes.c	\
	E-RABReleaseCommand.c	\
	E-RABReleaseResponse.c	\
	E-RABReleaseListBearerRelComp.c	\
	E-RABReleaseItemBearerRelComp.c	\
	E-RABReleaseIndication.c	\
	InitialContextSetupRequest.c	\
	E-RABToBeSetupListCtxtSUReq.c	\
	E-RABToBeSetupItemCtxtSUReq.c	\
	InitialContextSetupResponse.c	\
	E-RABSetupListCtxtSURes.c	\
	E-RABSetupItemCtxtSURes.c	\
	InitialContextSetupFailure.c	\
	Paging.c	\
	TAIList.c	\
	TAIItem.c	\
	UEContextReleaseRequest.c	\
	UEContextReleaseCommand.c	\
	UEContextReleaseComplete.c	\
	UEContextModificationRequest.c	\
	UEContextModificationResponse.c	\
	UEContextModificationFailure.c	\
	DownlinkNASTransport.c	\
	InitialUEMessage.c	\
	UplinkNASTransport.c	\
	NASNonDeliveryIndication.c	\
	Reset.c	\
	ResetType.c	\
	ResetAll.c	\
	UE-associatedLogicalS1-ConnectionListRes.c	\
	ResetAcknowledge.c	\
	UE-associatedLogicalS1-ConnectionListResAck.c	\
	ErrorIndication.c	\
	S1SetupRequest.c	\
	S1SetupResponse.c	\
	S1SetupFailure.c	\
	ENBConfigurationUpdate.c	\
	ENBConfigurationUpdateAcknowledge.c	\
	ENBConfigurationUpdateFailure.c	\
	MMEConfigurationUpdate.c	\
	MMEConfigurationUpdateAcknowledge.c	\
	MMEConfigurationUpdateFailure.c	\
	DownlinkS1cdma2000tunneling.c	\
	UplinkS1cdma2000tunneling.c	\
	UECapabilityInfoIndication.c	\
	ENBStatusTransfer.c	\
	MMEStatusTransfer.c	\
	TraceStart.c	\
	TraceFailureIndication.c	\
	DeactivateTrace.c	\
	CellTrafficTrace.c	\
	LocationReportingControl.c	\
	LocationReportingFailureIndication.c	\
	LocationReport.c	\
	OverloadStart.c	\
	OverloadStop.c	\
	WriteReplaceWarningRequest.c	\
	WriteReplaceWarningResponse.c	\
	ENBDirectInformationTransfer.c	\
	Inter-SystemInformationTransferType.c	\
	MMEDirectInformationTransfer.c	\
	ENBConfigurationTransfer.c	\
	MMEConfigurationTransfer.c	\
	PrivateMessage.c	\
	S1AP-PDU.c	\
	InitiatingMessage.c	\
	SuccessfulOutcome.c	\
	UnsuccessfulOutcome.c	\
	EXTERNAL.c

ASN_MODULE_HEADERS=	\
	Criticality.h	\
	Presence.h	\
	PrivateIE-ID.h	\
	ProcedureCode.h	\
	ProtocolExtensionID.h	\
	ProtocolIE-ID.h	\
	TriggeringMessage.h	\
	ProtocolIE-Container.h	\
	ProtocolIE-SingleContainer.h	\
	ProtocolIE-Field.h	\
	ProtocolIE-ContainerPair.h	\
	ProtocolIE-FieldPair.h	\
	ProtocolIE-ContainerList.h	\
	ProtocolIE-ContainerPairList.h	\
	ProtocolExtensionContainer.h	\
	ProtocolExtensionField.h	\
	PrivateIE-Container.h	\
	PrivateIE-Field.h	\
	AllocationAndRetentionPriority.h	\
	Bearers-SubjectToStatusTransferList.h	\
	Bearers-SubjectToStatusTransfer-Item.h	\
	BitRate.h	\
	BPLMNs.h	\
	BroadcastCompletedAreaList.h	\
	Cause.h	\
	CauseMisc.h	\
	CauseProtocol.h	\
	CauseRadioNetwork.h	\
	CauseTransport.h	\
	CauseNas.h	\
	CellIdentity.h	\
	CellID-Broadcast.h	\
	CellID-Broadcast-Item.h	\
	Cdma2000PDU.h	\
	Cdma2000RATType.h	\
	Cdma2000SectorID.h	\
	Cdma2000HOStatus.h	\
	Cdma2000HORequiredIndication.h	\
	Cdma2000OneXSRVCCInfo.h	\
	Cdma2000OneXMEID.h	\
	Cdma2000OneXMSI.h	\
	Cdma2000OneXPilot.h	\
	Cdma2000OneXRAND.h	\
	Cell-Size.h	\
	CellType.h	\
	CGI.h	\
	CI.h	\
	CNDomain.h	\
	CSFallbackIndicator.h	\
	CSG-Id.h	\
	CSG-IdList.h	\
	CSG-IdList-Item.h	\
	COUNTvalue.h	\
	CriticalityDiagnostics.h	\
	CriticalityDiagnostics-IE-List.h	\
	CriticalityDiagnostics-IE-Item.h	\
	DataCodingScheme.h	\
	DL-Forwarding.h	\
	Direct-Forwarding-Path-Availability.h	\
	ECGIList.h	\
	EmergencyAreaIDList.h	\
	EmergencyAreaID.h	\
	EmergencyAreaID-Broadcast.h	\
	EmergencyAreaID-Broadcast-Item.h	\
	CompletedCellinEAI.h	\
	CompletedCellinEAI-Item.h	\
	ENB-ID.h	\
	GERAN-Cell-ID.h	\
	Global-ENB-ID.h	\
	ENB-StatusTransfer-TransparentContainer.h	\
	ENB-UE-S1AP-ID.h	\
	ENBname.h	\
	ENBX2TLAs.h	\
	EncryptionAlgorithms.h	\
	EPLMNs.h	\
	EventType.h	\
	E-RAB-ID.h	\
	E-RABInformationList.h	\
	E-RABInformationListItem.h	\
	E-RABList.h	\
	E-RABItem.h	\
	E-RABLevelQoSParameters.h	\
	EUTRAN-CGI.h	\
	ExtendedRNC-ID.h	\
	ForbiddenInterRATs.h	\
	ForbiddenTAs.h	\
	ForbiddenTAs-Item.h	\
	ForbiddenTACs.h	\
	ForbiddenLAs.h	\
	ForbiddenLAs-Item.h	\
	ForbiddenLACs.h	\
	GBR-QosInformation.h	\
	GTP-TEID.h	\
	GUMMEI.h	\
	HandoverRestrictionList.h	\
	HandoverType.h	\
	HFN.h	\
	IMSI.h	\
	IntegrityProtectionAlgorithms.h	\
	InterfacesToTrace.h	\
	LAC.h	\
	LAI.h	\
	LastVisitedCell-Item.h	\
	LastVisitedEUTRANCellInformation.h	\
	LastVisitedUTRANCellInformation.h	\
	LastVisitedGERANCellInformation.h	\
	L3-Information.h	\
	MessageIdentifier.h	\
	MMEname.h	\
	MME-Group-ID.h	\
	MME-Code.h	\
	MME-UE-S1AP-ID.h	\
	M-TMSI.h	\
	MSClassmark2.h	\
	MSClassmark3.h	\
	NAS-PDU.h	\
	NASSecurityParametersfromE-UTRAN.h	\
	NASSecurityParameterstoE-UTRAN.h	\
	NumberofBroadcastRequest.h	\
	NumberofBroadcast.h	\
	OldBSS-ToNewBSS-Information.h	\
	OverloadAction.h	\
	OverloadResponse.h	\
	PagingDRX.h	\
	PDCP-SN.h	\
	PLMNidentity.h	\
	Pre-emptionCapability.h	\
	Pre-emptionVulnerability.h	\
	PriorityLevel.h	\
	QCI.h	\
	ReceiveStatusofULPDCPSDUs.h	\
	RelativeMMECapacity.h	\
	RAC.h	\
	RequestType.h	\
	RIMTransfer.h	\
	RIMInformation.h	\
	RIMRoutingAddress.h	\
	ReportArea.h	\
	RepetitionPeriod.h	\
	RNC-ID.h	\
	RRC-Container.h	\
	RRC-Establishment-Cause.h	\
	SecurityKey.h	\
	SecurityContext.h	\
	SerialNumber.h	\
	SONInformation.h	\
	SONInformationRequest.h	\
	SONInformationReply.h	\
	SONConfigurationTransfer.h	\
	Source-ToTarget-TransparentContainer.h	\
	SourceBSS-ToTargetBSS-TransparentContainer.h	\
	SourceeNB-ID.h	\
	SRVCCOperationPossible.h	\
	SRVCCHOIndication.h	\
	SourceeNB-ToTargeteNB-TransparentContainer.h	\
	SourceRNC-ToTargetRNC-TransparentContainer.h	\
	ServedGUMMEIs.h	\
	ServedGUMMEIsItem.h	\
	ServedGroupIDs.h	\
	ServedMMECs.h	\
	ServedPLMNs.h	\
	SubscriberProfileIDforRFP.h	\
	SupportedTAs.h	\
	SupportedTAs-Item.h	\
	S-TMSI.h	\
	TAC.h	\
	TAIListforWarning.h	\
	TAI.h	\
	TAI-Broadcast.h	\
	TAI-Broadcast-Item.h	\
	CompletedCellinTAI.h	\
	CompletedCellinTAI-Item.h	\
	TBCD-STRING.h	\
	TargetID.h	\
	TargeteNB-ID.h	\
	TargetRNC-ID.h	\
	TargeteNB-ToSourceeNB-TransparentContainer.h	\
	Target-ToSource-TransparentContainer.h	\
	TargetRNC-ToSourceRNC-TransparentContainer.h	\
	TargetBSS-ToSourceBSS-TransparentContainer.h	\
	TimeToWait.h	\
	Time-UE-StayedInCell.h	\
	TransportLayerAddress.h	\
	TraceActivation.h	\
	TraceDepth.h	\
	E-UTRAN-Trace-ID.h	\
	TypeOfError.h	\
	UEAggregateMaximumBitrate.h	\
	UE-S1AP-IDs.h	\
	UE-S1AP-ID-pair.h	\
	UE-associatedLogicalS1-ConnectionItem.h	\
	UEIdentityIndexValue.h	\
	UE-HistoryInformation.h	\
	UEPagingID.h	\
	UERadioCapability.h	\
	UESecurityCapabilities.h	\
	WarningAreaList.h	\
	WarningType.h	\
	WarningSecurityInfo.h	\
	WarningMessageContents.h	\
	X2TNLConfigurationInfo.h	\
	E-RAB-IE-ContainerList.h	\
	E-RAB-IE-ContainerPairList.h	\
	ProtocolError-IE-ContainerList.h	\
	HandoverRequired.h	\
	HandoverCommand.h	\
	E-RABSubjecttoDataForwardingList.h	\
	E-RABDataForwardingItem.h	\
	HandoverPreparationFailure.h	\
	HandoverRequest.h	\
	E-RABToBeSetupListHOReq.h	\
	E-RABToBeSetupItemHOReq.h	\
	HandoverRequestAcknowledge.h	\
	E-RABAdmittedList.h	\
	E-RABAdmittedItem.h	\
	E-RABFailedtoSetupListHOReqAck.h	\
	E-RABFailedToSetupItemHOReqAck.h	\
	HandoverFailure.h	\
	HandoverNotify.h	\
	PathSwitchRequest.h	\
	E-RABToBeSwitchedDLList.h	\
	E-RABToBeSwitchedDLItem.h	\
	PathSwitchRequestAcknowledge.h	\
	E-RABToBeSwitchedULList.h	\
	E-RABToBeSwitchedULItem.h	\
	PathSwitchRequestFailure.h	\
	HandoverCancel.h	\
	HandoverCancelAcknowledge.h	\
	E-RABSetupRequest.h	\
	E-RABToBeSetupListBearerSUReq.h	\
	E-RABToBeSetupItemBearerSUReq.h	\
	E-RABSetupResponse.h	\
	E-RABSetupListBearerSURes.h	\
	E-RABSetupItemBearerSURes.h	\
	E-RABModifyRequest.h	\
	E-RABToBeModifiedListBearerModReq.h	\
	E-RABToBeModifiedItemBearerModReq.h	\
	E-RABModifyResponse.h	\
	E-RABModifyListBearerModRes.h	\
	E-RABModifyItemBearerModRes.h	\
	E-RABReleaseCommand.h	\
	E-RABReleaseResponse.h	\
	E-RABReleaseListBearerRelComp.h	\
	E-RABReleaseItemBearerRelComp.h	\
	E-RABReleaseIndication.h	\
	InitialContextSetupRequest.h	\
	E-RABToBeSetupListCtxtSUReq.h	\
	E-RABToBeSetupItemCtxtSUReq.h	\
	InitialContextSetupResponse.h	\
	E-RABSetupListCtxtSURes.h	\
	E-RABSetupItemCtxtSURes.h	\
	InitialContextSetupFailure.h	\
	Paging.h	\
	TAIList.h	\
	TAIItem.h	\
	UEContextReleaseRequest.h	\
	UEContextReleaseCommand.h	\
	UEContextReleaseComplete.h	\
	UEContextModificationRequest.h	\
	UEContextModificationResponse.h	\
	UEContextModificationFailure.h	\
	DownlinkNASTransport.h	\
	InitialUEMessage.h	\
	UplinkNASTransport.h	\
	NASNonDeliveryIndication.h	\
	Reset.h	\
	ResetType.h	\
	ResetAll.h	\
	UE-associatedLogicalS1-ConnectionListRes.h	\
	ResetAcknowledge.h	\
	UE-associatedLogicalS1-ConnectionListResAck.h	\
	ErrorIndication.h	\
	S1SetupRequest.h	\
	S1SetupResponse.h	\
	S1SetupFailure.h	\
	ENBConfigurationUpdate.h	\
	ENBConfigurationUpdateAcknowledge.h	\
	ENBConfigurationUpdateFailure.h	\
	MMEConfigurationUpdate.h	\
	MMEConfigurationUpdateAcknowledge.h	\
	MMEConfigurationUpdateFailure.h	\
	DownlinkS1cdma2000tunneling.h	\
	UplinkS1cdma2000tunneling.h	\
	UECapabilityInfoIndication.h	\
	ENBStatusTransfer.h	\
	MMEStatusTransfer.h	\
	TraceStart.h	\
	TraceFailureIndication.h	\
	DeactivateTrace.h	\
	CellTrafficTrace.h	\
	LocationReportingControl.h	\
	LocationReportingFailureIndication.h	\
	LocationReport.h	\
	OverloadStart.h	\
	OverloadStop.h	\
	WriteReplaceWarningRequest.h	\
	WriteReplaceWarningResponse.h	\
	ENBDirectInformationTransfer.h	\
	Inter-SystemInformationTransferType.h	\
	MMEDirectInformationTransfer.h	\
	ENBConfigurationTransfer.h	\
	MMEConfigurationTransfer.h	\
	PrivateMessage.h	\
	S1AP-PDU.h	\
	InitiatingMessage.h	\
	SuccessfulOutcome.h	\
	UnsuccessfulOutcome.h	\
	EXTERNAL.h

ASN_MODULE_HEADERS+=ANY.h
ASN_MODULE_SOURCES+=ANY.c
ASN_MODULE_HEADERS+=BOOLEAN.h
ASN_MODULE_SOURCES+=BOOLEAN.c
ASN_MODULE_HEADERS+=INTEGER.h
ASN_MODULE_HEADERS+=NativeEnumerated.h
ASN_MODULE_HEADERS+=GraphicString.h
ASN_MODULE_SOURCES+=GraphicString.c
ASN_MODULE_SOURCES+=INTEGER.c
ASN_MODULE_HEADERS+=NULL.h
ASN_MODULE_SOURCES+=NULL.c
ASN_MODULE_SOURCES+=NativeEnumerated.c
ASN_MODULE_HEADERS+=NativeInteger.h
ASN_MODULE_SOURCES+=NativeInteger.c
ASN_MODULE_HEADERS+=OBJECT_IDENTIFIER.h
ASN_MODULE_SOURCES+=OBJECT_IDENTIFIER.c
ASN_MODULE_HEADERS+=ObjectDescriptor.h
ASN_MODULE_SOURCES+=ObjectDescriptor.c
ASN_MODULE_HEADERS+=PrintableString.h
ASN_MODULE_SOURCES+=PrintableString.c
ASN_MODULE_HEADERS+=asn_SEQUENCE_OF.h
ASN_MODULE_SOURCES+=asn_SEQUENCE_OF.c
ASN_MODULE_HEADERS+=asn_SET_OF.h
ASN_MODULE_SOURCES+=asn_SET_OF.c
ASN_MODULE_HEADERS+=constr_CHOICE.h
ASN_MODULE_SOURCES+=constr_CHOICE.c
ASN_MODULE_HEADERS+=constr_SEQUENCE.h
ASN_MODULE_SOURCES+=constr_SEQUENCE.c
ASN_MODULE_HEADERS+=constr_SEQUENCE_OF.h
ASN_MODULE_SOURCES+=constr_SEQUENCE_OF.c
ASN_MODULE_HEADERS+=constr_SET_OF.h
ASN_MODULE_SOURCES+=constr_SET_OF.c
ASN_MODULE_HEADERS+=asn_application.h
ASN_MODULE_HEADERS+=asn_system.h
ASN_MODULE_HEADERS+=asn_codecs.h
ASN_MODULE_HEADERS+=asn_internal.h
ASN_MODULE_HEADERS+=OCTET_STRING.h
ASN_MODULE_SOURCES+=OCTET_STRING.c
ASN_MODULE_HEADERS+=BIT_STRING.h
ASN_MODULE_SOURCES+=BIT_STRING.c
ASN_MODULE_SOURCES+=asn_codecs_prim.c
ASN_MODULE_HEADERS+=asn_codecs_prim.h
ASN_MODULE_HEADERS+=ber_tlv_length.h
ASN_MODULE_SOURCES+=ber_tlv_length.c
ASN_MODULE_HEADERS+=ber_tlv_tag.h
ASN_MODULE_SOURCES+=ber_tlv_tag.c
ASN_MODULE_HEADERS+=ber_decoder.h
ASN_MODULE_SOURCES+=ber_decoder.c
ASN_MODULE_HEADERS+=der_encoder.h
ASN_MODULE_SOURCES+=der_encoder.c
ASN_MODULE_HEADERS+=constr_TYPE.h
ASN_MODULE_SOURCES+=constr_TYPE.c
ASN_MODULE_HEADERS+=constraints.h
ASN_MODULE_SOURCES+=constraints.c
ASN_MODULE_HEADERS+=xer_support.h
ASN_MODULE_SOURCES+=xer_support.c
ASN_MODULE_HEADERS+=xer_decoder.h
ASN_MODULE_SOURCES+=xer_decoder.c
ASN_MODULE_HEADERS+=xer_encoder.h
ASN_MODULE_SOURCES+=xer_encoder.c
ASN_MODULE_HEADERS+=per_support.h
ASN_MODULE_SOURCES+=per_support.c
ASN_MODULE_HEADERS+=per_decoder.h
ASN_MODULE_SOURCES+=per_decoder.c
ASN_MODULE_HEADERS+=per_encoder.h
ASN_MODULE_SOURCES+=per_encoder.c
ASN_MODULE_HEADERS+=per_opentype.h
ASN_MODULE_SOURCES+=per_opentype.c
ASN_CONVERTER_SOURCES+=converter-sample.c


lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} ${ASN_CONVERTER_SOURCES:.c=.o}

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/asn1c/.libs/asn1c -gen-PER -fcompound-names -S ../skeletons ../asn1/S1AP-CommonDataTypes.asn ../asn1/S1AP-Constants.asn ../asn1/S1AP-Containers.asn ../asn1/S1AP-IEs.asn ../asn1/S1AP-PDU-Contents.asn ../asn1/S1AP-PDU-Descriptions.asn

